body {
  background: #C3FFDC;
}

.calculator {
  position: relative;
  width: 360px;
  height: 505px;
  margin: 15px auto 0 auto;
  background-image: url(../img/calc.png);
  background-size: 360px 505px;
  background-repeat: no-repeat;
}

.screen {
  position: absolute;
  text-align: right;
  top: 95px;
  right: 80px;
  width: 230px;
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.numbers {
  color: #25C0C8;
  font-family: Helvetica;
  font-size: 2.5em;
  text-shadow: 2px 2px 0 black;
  letter-spacing: 3px;
}

.buttons {
  position: absolute;
  height: 245px;
  width: 231px;
  top: 183px;
  left: 60px;
  display: flex;
  flex-wrap: wrap;
}

.button {
  display: inline-block;
  margin: 0 0 0 6px;
  flex-grow: 1;
  height: 47px;    
  width: calc(100% * (1/4) - 10px);
}

.equals {
  height: 94px;
}

.bottom-row {
  margin-top: -61px;
}

.zero {
  position: absolute;
  left: -30px;
  top: 200px;
  height: 43px;
  width: 192px;
}

.point {
  position: absolute;
  width: 66px;
  height: 47px;
  top: 200px;
  left: 117px;
}
